/* style */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Work+Sans&display=swap");

/* Responsive untuk media hp */
@media screen and (max-width: 720px) {
  #content,
  .aside {
    width: 100%;
    padding: 0;
  }
}
/* Akhir responsive untuk media hp */

/* Responsive untuk Web */
@media screen and (min-width: 720px) {
  #content {
    width: 74%;
    padding: 0;
  }
}

@media screen and (min-width: 720px) {
  .aside {
    width: 25%;
  }
}
/* Akhir responsive untuk Web */

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(img/bg.png);
  scroll-behavior: smooth;
}

header {
  display: inline;
}

.jumbutron {
  background-color: #b26c16;
  padding: 60px;
  color: white;
  font-size: 20px;
  text-align: center;
}

nav ul li:hover {
  border-bottom: 3px solid black;
  transition: all 0.3s ease;
}

nav ul li a:active {
  color: black;
}

nav {
  background-color: #ff8e00;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

main {
  padding: 20px;
  overflow: auto;
}

.card {
  margin-top: 15px;
}

h2,
h3 {
  color: #b26c16;
}

.card h3 {
  text-align: center;
  padding-top: 20px;
}

.card img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  /* object-position: center; */
}

#content {
  float: left;
  margin-right: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 25px;
  margin-top: 20px;
  padding-top: 4rem;
  background-image: url(img/bg3.png);
}

.cardas {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  padding-top: 4rem;
}

.aside {
  float: right;
  background-image: url(img/bg3.png);
  margin-top: 20px;
  /* padding-top: 25px; */
}

.JKT {
  text-align: center;
}

.cardas figure img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

figcaption {
  text-align: center;
}

.cardas h1 {
  color: #00c8eb;
}

td {
  color: rgb(112, 112, 112);
}

footer {
  background-color: #b26c16;
  padding: 25px;
  color: white;
  text-align: center;
  font-size: 18px;
}

footer a {
  color: rgb(255, 120, 120);
  text-decoration: none;
  font-weight: 900;
}
